.promo {
  padding: 151px 110px 151px 160px;
  background: url('../img/backgrounds/promoBG.png') center (center/cover) no-repeat;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, auto));
    align-items: center;
  }
  &__descr {
    min-width: 591px;
  }
  &__title {
    font-family: RF Rufo;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
  }
  &__text {
    margin-top: 40px;
    font-family: Muller;
    font-weight: 400;
    font-size: 20px;
    line-height: 157%;
    color: #ffffff;
  }
  &__btn {
    margin-top: 66px;
    width: 285px;
    height: 65px;
    background: linear-gradient(180deg, #fd8f35 0%, #f2602d 100%);
    border-radius: 50px;
    font-family: Muller;
    font-weight: 400;
    font-size: 20px;
    line-height: 157%;
    text-align: center;
    color: #ffffff;
    border: none;
    &:focus {
      outline: none;
    }
  }
  &__img {
    display: block;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
